.App {
  text-align: center;
}

/*Header*/
.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid lightgray;
}
.header_container .logo {
  width: 200px;
}
.header_container input {
  padding: 10px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid lightgray;
  background-color: #29773E;
}
.header_container input:focus {
  outline: none;
}
.header_container input::placeholder {
  color: rgb(209, 209, 209);
}